<h1><%= @post.title %></h1>


<p><%= @post.content %></p>

<h3>Categories:</h3>
<ul><% @post.categories.each do |cat| %>
    <li><%= cat.name %></li>
<% end %></ul>

<h3>Commentors:</h3>
<ul><% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
<% end %></ul>

<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
    <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>

<h4>New Comment:</h4>
<%= form_for @comment do |f| %>
    <%= f.label "Your Username: " %>
    <%= f.collection_select :user_id, User.all, :id, :username %><br>
    <%= f.label "New User? Create Username Here: " %>
    <%= f.fields_for :user, @comment.build_user do |user_attributes| %>
        username: <%= user_attributes.text_field :username %>
        email: <%= user_attributes.text_field :email %>
    <% end %>
    <%= f.hidden_field :post_id, value: @post.id %><br>
    <%= f.label "Content" %>
    <%= f.text_area :content %><br>
    <%= f.submit %>
<% end %></p>
